*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
canvas{
    position: absolute;
    background-color: #000000;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}